body {
    background-color: #E5E5E5;
    margin: 0 auto;
}

header {
    background-color: black;
    height: 129px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: 100%;
}

#menu{
    list-style: none;
    padding-right: 6px;
}

.a-menu {
    text-decoration: none;
    color: #FFFCFC;
}

.menu{
    display: inline-block;
}

.gallery {
    padding-top: 200px;
    position: relative;
    height: 800px;
}

.slide-right {
    position: absolute;
    left: -500px;
    transition: all 1s linear;
    transform: translateX(950px);
}

.slide-left {
    position: absolute;
    right: -500px;
    transition: all 1s linear;
    transform: translateX(-950px);
}

.slide-right-two {
    position: absolute;
    left: -500px;
    transition: all 2s linear;
    transform: translateX(550px);
    padding-top: 189px;
}

.slide-left-two {
    position: absolute;
    right: -500px;
    transition: all 2s linear;
    transform: translateX(-550px);
    padding-top: 189px;
}

.services {
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
}

span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.two-circle {
    position: relative;
    left: 450px;
    bottom: 800px;
}

.first-circle {
    position: relative;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    font-size: 96px;
}

#team {
    display: flex;
    justify-content: space-around;
    padding-left: 66px;
    padding-right: 66px;
}

.meredith {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle8.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
}

#meredith {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -2930px;
    border-radius: 0 0 25% 25%;
}

.meredith:hover #meredith {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px);
}

.meredith:hover {
    background-image: url(./img/Rectangle8.png);
}

.jason {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle12.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
}

#jason {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -2930px;
    border-radius: 0 0 25% 25%;
}

.jason:hover #jason {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px);
}

.jason:hover {
    background-image: url(./img/Rectangle12.png);
}

.ryan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle13.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
}

#ryan {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -2930px;
    border-radius: 0 0 25% 25%;
}

.ryan:hover #ryan {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px);
}

.ryan:hover {
    background-image: url(./img/Rectangle13.png);
}

.james {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle9.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
}

#james {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -2930px;
    border-radius: 0 0 25% 25%;
}

.james:hover #james {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px);
}

.james:hover {
    background-image: url(./img/Rectangle9.png);
}

.contact {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.map {
    padding-right: 162px;
}

h2 {
    font-size: 64px;
    padding-left: 169px;
    text-align: center;
}

#table {
    padding-left: 66px;
}

.table {
    width: 936px;
    height: 400px;
    background-color: gray;
}

.name {
    width: 377px;
    height: 80px;
    font-size: 36px;
}
.email{
    width: 452px;
    height: 80px;
    font-size: 36px;
}
.form {
    padding-top: 39px;
    display: flex;
    justify-content: space-around;
    padding-left: 29px;
    padding-right: 29px;
}

.message {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    padding-left: 29px;
    padding-right: 29px;
}

textarea {
    resize: none;
    width: 878px;
    height: 209px;
    font-size: 36px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
iframe{
    width: 626px;
    height: 570px;
}
.text-foot{
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 126px;
}
.a-foot{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    justify-content: space-between;
    padding-left: 162px;
    padding-right: 162px;
}
.img-foot{
    list-style: url(./img/pngwing1.png);
    
}
.img-foot-2{
    list-style: url(./img/pngwing2.png);
}
.img-foot-3{
    list-style: url(./img/pngwing3.png);
}
